## Exclude all files
*
!/**/


## Exlcude binary directories
/**/Debug
/**/Release


## Git
!.gitignore
!/**/*.gitkeep


## Basic repository and documentation files
!LICENSE
!/**/*.md


## General project/solution/code files
!/**/*.sln
!/**/*.csproj
!/**/*.cs


## Third party settings
### Github actions
!.github/workflows/*.yml

### Resharper
!/**/*.DotSettings

### Docker
!/**/*.Dockerfile


## Docker Environments
### Mongo Cluster
!Environment/MongoDB/docker-compose.yml
!Environment/MongoDB/rebuild.sh
!Environment/MongoDB/mongolocal/rebuild.sh
!Environment/MongoDB/mongolocal/replset.js
!Environment/MongoDB/mongolocal/Dockerfile
!Environment/MongoDB/mongolocal/setup.sh

### Minio Bucket
!Environment/Minio/docker-compose.yml
!Environment/Minio/Minio_mc/Dockerfile
!Environment/Minio/Minio_mc/endpoint.sh
!Environment/Minio/TestCertificates/private.key
!Environment/Minio/TestCertificates/public.crt

### RabbitMq
!Environment/RabbitMq/docker-compose.yml


## Specific project files
### LessPaper.APIGateway
!LessPaper.APIGateway/Properties/launchSettings.json
!LessPaper.APIGateway/appsettings.Development.json
!LessPaper.APIGateway/appsettings.json

### LessPaper.WriteService
!LessPaper.WriteService/Properties/launchSettings.json
!LessPaper.WriteService/appsettings.Development.json
!LessPaper.WriteService/appsettings.json

### LessPaper.ReadService
!LessPaper.ReadService/Properties/launchSettings.json
!LessPaper.ReadService/appsettings.Development.json
!LessPaper.ReadService/appsettings.json

### LessPaper.GuardService
!LessPaper.GuardService/Properties/launchSettings.json
!LessPaper.GuardService/appsettings.Development.json
!LessPaper.GuardService/appsettings.json

### LessPaper.Shared.MinIO
!LessPaper.Shared.MinIO.IntegrationTest/TestCertificates/private.key
!LessPaper.Shared.MinIO.IntegrationTest/TestCertificates/public.crt

